body {
    /* font-family: 'Montserrat'; */
    font-family: 'Coda', cursive;
    margin: 0;
}




.page-enter-active {
    /* animation: bounce-in .8s; */
    animation: bounce-in .8s;
  }
.page-leave-active {
    /* animation: bounce-out .5s; */
    animation: bounce-out .5s;
}
@keyframes bounce-in {
    0% { transform: scale(.9); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}
@keyframes bounce-out {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(.9); opacity: 0; }
}


